header {
    display: grid;
    grid-template-columns: auto auto auto auto;
    height: 50px;
    text-align: center;
    font-size: 32.5px;
    text-decoration: none;
}

.grid-nav:hover {
    background-color: rgb(88, 179, 202);
    text-decoration: none;
}

.grid-container {
    display:grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 50px 50px;
    background-color: #e4f3f7;
    padding: 50px;
    font-family: 'Open Sans', sans-serif;
}

.grid-item {
    text-align: center;
    background-color: white;
    border-radius: 5px;
    padding: 40px;
}

.grid-item:hover {
    box-shadow: -10px 30px 25px rgb(196, 196, 196);
}

img.item {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: solid 2px rgb(88, 179, 202); 
}

h1 {
    font-weight: normal;
    font-size: 20px;
    font-weight: bold;
}

p {
    width: 235px;
    height: 220px;
}

a {
    color: black;
    padding: 20px;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 30px;
    border-top: 3px solid #eeeeee;
    font-weight: bold;
}

a.box:hover {
    border-radius: 50px;
    background-color: rgb(88, 179, 202);
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    padding: 15px 30px;
}

footer {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto auto auto auto;
    height: 50px;
    text-align: center;
    text-decoration: none;
    background-color: #e4f3f7;
}

img.logo {
    height: 30px;
    margin-top: 10px;
}

.social {
    width: 90px;
}

.social:hover {
    text-decoration: none;
    box-shadow: 5px -15px 25px rgb(196, 196, 196);
}